<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notification Email</title>
</head>
<body>
    <div style="font-family: Arial, sans-serif; max-width: 600px; margin: auto; border: 1px solid #ddd; padding: 20px; text-align: center;">

        <h2 style="color: #333;">Notification</h2>
        <p>This information is regarding a new registration of a user</p>
        <p><strong>User name is {{name}}</strong></p>
        <p><strong>User id is {{userId}}</strong></p>
        <p><strong>User role is {{role}}</strong></p>
        <p><strong>User email is {{email}}</strong></p>

        <hr style="border: none; border-top: 1px solid #ddd; margin: 20px 0;">
    </div>
</body>
</html>