<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Email</title>
</head>
<body>
    <div style="font-family: Arial, sans-serif; max-width: 600px; margin: auto; border: 1px solid #ddd; padding: 20px; text-align: center;">

        <h2 style="color: #333;">OTP</h2>
        <p>Please do not share the otp</p>
        <p><strong>Your OTP is: {{OTP}}</strong></p>

        <hr style="border: none; border-top: 1px solid #ddd; margin: 20px 0;">
    </div>
</body>
</html>